body {
    background-color: #FFFFFF;
}

topbar {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1177ff;
    color: #ffffff;
    height: 3em;
    width: 100%;
    z-index: 1;
}

topbar > span {
    display: block;
    position: absolute;
    top: 5px;
    right: 15px;
    height: calc(100% - 10px);
    line-height: calc(200% + 5px);
}

topbar > span > a {
    height: calc(100% - 20px);
    padding: 5px;
    display: inline-block;
    vertical-align: middle;
    background-color: #fff;
    color: #555;
    border-radius: 5px;
    line-height: 1em;
    margin-left: 15px;
}

aside {
    display: block;
    position: fixed;
    top: 3em;
    left: 0;
    background-color: #1177ff;
    color: #ffffff;
    height: calc(100vh - 3em);
    width: 250px;
    overflow-y: auto;
}

aside > .search {
    width: calc(100% - 20px);
    margin: 0 5px 5px 5px;
    padding: 5px;
    border-radius: 5px;
    cursor: text;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 2;
}

aside > tabs {
    display: block;
    width: 100%;
}

aside > tabs > tab, info {
    display: block;
    position: relative;
    width: calc(100% - 30px);
    padding: 0;
    left: 20px;
    padding-bottom: 5px;
    margin: 5px 0;
    background: linear-gradient( to left, transparent 0%, #fff, transparent 100% ) left bottom no-repeat;
    background-size: 80% 1px;
    background-position: center bottom;
}

aside > tabs > tab:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: -10px;
    height: calc( 3em + 10px );
    width: 100%;
    background: linear-gradient(to right, transparent 80%, #1177ff );
}

aside tab.wrapper {
    border: 0;
    border-left: 5px solid #fff;
    width: calc(100% - 35px);
    height: 3em;
    margin: 0;
    position: absolute;
    left: 0;
    background: transparent;
    transition-duration: 0.5s;
}

aside tab.wrapper:before {
    display: none;
}

aside tab > h3, info > h3 {
    color: #fff;
}

aside tab > p, info > p {
    color: #ccc;
    white-space: nowrap;
    overflow: hidden;
}

content {
    display: none;
    position: absolute;
    top: 3em;
    right: 0;
    width: calc(100% - 270px);
    padding: 10px;
    background-color: #fff;
    color: #555;
}

.add-button {
    width: calc(100% - 20px);
    height: 2em;
    border-radius: 5px;
    position: sticky;
    display: block;
    background-color: #eee;
    bottom: 10px;
    left: 10px;
    text-align: center;
    color: #333;
    line-height: 2em;
}

.field {
    padding: 10px;
    margin: 5px 0;
    display: inline-block;
    width: calc(100% - 145px);
    vertical-align: text-top;
    resize: none;
}

.field:focus {
    width: calc(100% - 147px);
}

.desc {
    display: inline-block;
    width: 100px;
    padding: 10px;
    margin: 5px 0;
    vertical-align: text-top;
}

.p_btn {
    display: inline-block;
    padding: 5px;
    background-color: #555;
    color: #fff;
    border-radius: 5px;
    float: right;
    margin: 5px;
}

input.new {
    padding: 0.25em 0.5em;
    font-size: 1em;
}