.cal {
    display: inline-block;
    background-color: #FFF;
    width: 100%;
    box-shadow: 1px 2px 4px 0px rgba(0,0,0,0.15);
    overflow: hidden;
    position: relative;
    border-radius: 3px;
}

    .cal .title {
        width: calc(100% - 16px);
        font-size: 16px;
        padding: 8px;
        color: #fff;
        background-color: #3369ff;
        text-align: center;
        position: relative;
        box-shadow: 0 -1px 8px 0 rgba(0,0,0,0.15);
    }

    .cal > .prev {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        color: #555;
        background-color: #fff;
        box-shadow: 1px 2px 4px 0px rgba(0,0,0,0.15);
    }

        .cal > .prev::before {
            content: "";
            line-height: 28px;
            text-align: center;
            width: 100%;
            display: block;
        }

        .cal > .prev::after {
            content: "\25C4";
            position: absolute;
            top: 3px;
            left: 5px;
        }

    .cal > .next {
        position: absolute;
        top: 6px;
        right: 6px;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        color: #555;
        background-color: #fff;
        box-shadow: 1px 2px 4px 0px rgba(0,0,0,0.15);
    }

        .cal > .next::before {
            content: "";
            line-height: 28px;
            text-align: center;
            width: 100%;
            display: block;
        }

        .cal > .next::after {
            content: "\25BA";
            position: absolute;
            top: 3px;
            right: 5px;
        }

    .cal > .next:hover, .cal > .prev:hover {
        cursor: pointer;
    }

    .cal .body {
        display: block;
        min-height: 40px;
        width: 100%;
    }

        .cal .body > .item {
            display: block;
            position: relative;
            width: calc(100% - 24px);
            padding: 8px 12px;
        }

            .cal .body > .item:hover {
                background-color: #EEE;
                cursor: pointer;
            }

            .cal .body > .item::after {
                top: 9px;
                left: 6px;
                width: 2px;
                content: "";
                display: block;
                position: absolute;
                height: 20px;
                background-color: #3369ff;
            }

        .cal .body > .null-item {
            display: block;
            position: relative;
            width: calc(100% - 24px);
            padding: 8px 12px;
            text-align: center;
        }