@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: normal;
    src: url('../fonts/Open_Sans/OpenSans-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/Open_Sans/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: bold;
    src: url('../fonts/Open_Sans/OpenSans-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans Heavy';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Open_Sans/OpenSans-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans Heavy';
    font-style: italic;
    font-weight: normal;
    src: url('../fonts/Open_Sans/OpenSans-ExtraBoldItalic.ttf') format('truetype');
}