* {
    border: 0;
    font-family: 'Open Sans';
    margin: 0;
    cursor: default;
}

body {
    border-radius: 10px;
    overflow: hidden;
}

a, select {
    cursor: pointer;
}

input, textarea {
    cursor: text;
    font-size: small;
}

input:focus, textarea:focus, select:focus {
    outline-color: #555;
}

/* Custom dropdown */
.custom-dropdown {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.custom-dropdown select {
    background-color: #555;
    color: #fff;
    font-size: inherit;
    padding: 0.25em .5em;
    padding-right: 2.5em;	
    border: 0;
    margin: 0;
    border-radius: 3px;
    text-indent: 0.01px;
    /*Hiding the select arrow for chrome*/
    -webkit-appearance:none;
    -moz-appearance: none;
}

.custom-dropdown::before,
.custom-dropdown::after {
    content: "";
    position: absolute;
    pointer-events: none;
}

.custom-dropdown::after { /*  Custom dropdown arrow */
    content: "\25BC";
    color: #fff;
    height: 1em;
    font-size: .625em;
    line-height: 1;
    right: 1.2em;
    top: 50%;
    margin-top: -.5em;
}

.custom-dropdown::before { /*  Custom dropdown arrow cover */
    width: 2em;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0 3px 3px 0;
    background-color: #888888;
    background-color: rgba(0,0,0,.2);
}

.custom-dropdown select option:disabled {
    color: #ccc;
}

.titlebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 32px;
    background-color: #333333;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-app-region: drag;
    z-index: 1;
}

.sysButton {
    width: 32px;
    height: 32px;
    color: #ffffff;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    user-select: initial;
    display: inline-block;
    vertical-align: middle;
    -webkit-app-region: no-drag;
    cursor: pointer;
}

.sysButton:hover {
    background-color: #555;
}

.dropbtn {
    background-color: #333;
    color: white;
    height: 32px;
    padding: 0 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    text-align: left;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 2;
}

.dropdown-content > span {
    color: #fff;
    padding: 8px 12px;
    text-align: left;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.dropdown-content > span:hover {
    background-color: #555
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #555;
}

.dropdown-content hr {
    display: block;
    width: 100%;
    height: 2px;
    border: 0;
    background: linear-gradient( to left, transparent 0%, #fff, transparent 100% ) left bottom no-repeat;
    background-size: 80% 1px;
    background-position: center bottom;
}