table {
    border-collapse: collapse;
    width: 100%;
    color: #555;
    text-align: left;
}

td, th {
    padding: 10px;
    vertical-align: text-top;
}

#options {
    background-color: #f0f0f0;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    width: calc(50% - 45px);
    vertical-align: text-top;
    position: relative;
}

    #options a {
        background-color: #555;
        color: #fff;
        padding: 5px 10px;
        display: inline-block;
        border-radius: 5px;
        position: relative;
        float: right;
    }

#todo {
    width: calc(50% - 20px);
    display: inline-block;
    vertical-align: text-top;
    margin: 10px;
}

.column {
    display: block;
    width: calc(50% - 20px);
    padding: 10px;
    vertical-align: text-top;
    max-height: calc(100% - 20px);
    position: relative;
}

#col {
    display: inline-block;
    width: calc(100% - 350px);
    vertical-align: text-top;
}

@media (max-width: 1150px) {
    .column {
        width: calc(100% - 20px) !important;
    }

    #eventlog {
        max-width: 350px;
        height: auto !important;
        min-height: auto !important;
        max-height: 300px;
        position: relative !important;
        margin-bottom: 0 !important;
    }

    subtitle {
        max-width: 330px;
    }

    #options, #todo {
        position: relative !important;
        bottom: 0 !important;
        width: calc(100% - 40px) !important;
    }

    #todo {
        width: calc(100% - 20px) !important;
    }

    #todo > subtitle {
        max-width: initial;
    }

    #container {
        position: relative !important;
        top: 0 !important;
        right: 0 !important;
    }
}

@media (max-width: 900px) {
    #col {
        width: 100% !important;
    }

    #options {
        width: calc(50% - 45px) !important;
    }

    #todo {
        width: calc(50% - 20px) !important;
    }
}