navCover
nav
    span(onclick="closeNav()")#nav-cls Close&nbsp;
        span(style="font-size: 1.3em") &times;
    a(href="home.pug") Home
    a(href="journals.pug") Journals
    a(href="projects.pug") Projects
    a(href="app.pug") Issues
    a(onclick="logout()" style="position: static; bottom: 0; left: 0;") Logout