topbar
    img(src="../image/TheDocsLogo2White.svg" style="height: 36px; position: absolute; top: 6px; left: 56px; -webkit-user-drag: none; user-select: none;")
    img(src="../image/TheDocsLogo4White.svg" style="height: 18px; position: absolute; top: 15px; left: calc(56px + 32px + 10px); -webkit-user-drag: none; user-select: none;")
    span
        span(style="vertical-align: middle;") Welcome back,&nbsp;
            span.fname
            | !
        span(onclick="openNav()")#nav-btn
            i.fa.fa-bars