.Dashboard {
    width: calc(75% - 1em);
    height: calc(100vh - 2em);
    margin: 1em;
    margin-left: 0;
    display: inline-grid;
    column-gap: 1em;
    row-gap: 1em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    vertical-align: middle;
}

.DashHolder {
    margin-top: 1em;
}

.Activity {
    padding: 1em;
}

.Activity:hover {
    background-color: rgba(33, 150, 243,0.4);
    cursor: pointer;
}