.Documents {
    width: calc(75% - 1em);
    height: calc(100vh - 2em);
    margin: 1em;
    margin-left: 0;
    display: inline-grid;
    column-gap: 1em;
    row-gap: 1em;
    grid-template-columns: 1fr;
    grid-template-rows: calc(30px + 1em) 1fr;
    vertical-align: middle;
}

.Search {
    height: 1em;
    padding: 7px;
    width: 300px;
    font-size: 14px;
    vertical-align: middle;
    border: #eee 1px solid;
    outline: 0;
}

.SearchBtn {
    display: inline-block;
    line-height: 12px;
    background-color: #eee;
    padding: 3px 8px;
    cursor: pointer;
    vertical-align: middle;
}