.Project {
    width: calc(75% - 1em);
    height: calc(100vh - 2em);
    margin: 1em;
    margin-left: 0;
    display: inline-grid;
    column-gap: 1em;
    row-gap: 1em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: calc(30px + 1em) 1fr 1fr;
    vertical-align: middle;
}

.Settings {
    display: inline-block;
    vertical-align: middle;
    line-height: 100%;
    float: right;
}

.Settings svg {
    vertical-align: middle;
    line-height: 30px;
    margin-right: 3px;
    margin-top: -1px
}

.Settings button {
    border: 1px solid rgba(33, 150, 243, 0.5);
    color: #2196f3;
}

.Settings button:hover {
    background-color: rgba(33, 150, 243, 0.1);
    border-color: #2196f3;
}

.DropBox {
    width: 100%;
    height: calc(100% - 22px);
}

.DragBox {
    width: calc(100% - 2em);
    padding: 1em;
    margin: 0.5em 0;
    background-color: rgba(33, 150, 243, 0.4);
    border-radius: 4px;
}