.SideBar {
    height: calc(100vh - 5em - 40px);
    margin: 1em;
    padding: 1em;
    display: inline-block;
    vertical-align: middle;
    width: calc(300px - 4em);
    background-color: #fff;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.16), 0 4px 8px 0 rgba(0,0,0,.12);
    position: relative;
    padding-top: calc(40px + 2em);
    overflow: auto;
}

.Menu {
    position: absolute;
    width: calc(100% - 2em);
    background-color: inherit;
    top: 0;
    left: 0;
    padding: 1em;
    background-color: rgba(0,0,0,0);
}

.Menu:hover {
    background-color: rgba(0,0,0,0.2);
    cursor: pointer;
}

.NameGroup {
    margin-left: 8px;
    width: calc(100% - 80px);
    line-height: 20px;
    display: inline-block;
    vertical-align: middle;
}

.Avatar {
    border-radius: 50%;
    background-color: #eee;
    height: 40px;
    width: 40px;
    margin-right: 8px;
    display: inline-block;
    vertical-align: middle;
}

.Status {
    color: #777777;
    font-size: 14px;
}

.Name {
    margin: 0;
}

.MenuSettings {
    display: inline-block;
    vertical-align: middle;
}

.ButtonGroup {
    width: 100%;
    display: block;
    margin: 1em 0;
}

.Button {
    width: calc(90% - 16px);
}

.Button.show {
    background-color: #2196f3 !important;
    color: #fff !important;
}