extends layout.pug

block links
    link(rel="stylesheet" href="../css/app.css")
    link(rel="stylesheet" href="../css/hljs.css")
    link(rel="stylesheet" href="../css/markdown.css")

block content
    topbar
        img(src="../image/TheDocsLogoWhite.svg" style="height: calc(3em - 16px); position: absolute; top: 8px; left: 43px; cursor: pointer;" onclick="viewPage('c_main')")
        span
            span(style="vertical-align: middle;") Welcome 
                span.fname
                | !
            span(onclick="openNav()")#nav-btn
                i.fa.fa-bars
    nav
        span(onclick="closeNav()")#nav-cls Close 
            span(style="font-size: 1.3em") &times;
        a(onclick="") Home
        a(onclick="") Profile
        a(href="projects.pug") Projects
        a(onclick="") Issues
        a(onclick="logout()" style="position: static; bottom: 0; left: 0;") Logout
    aside
        span
            input(type="text" class="search" id="liveSearch" placeholder="Search The Docs!")
        tabs#dump
        a(class="add-button" onclick="viewPage('c_new')") Document an Issue!
    content#c_main
        h1 Welcome to The Docs!
        br
        p This application helps build a knowledge base of issues run into during: the development process, experiments, and other scenarios. To do this, The Docs allows you to publish documents that allows others to find and learn from past experiences.
        br
        h2 How to create a document!
        br
        p On the bottom of the left column, there is a button labeled "Document a Problem!" When you click this button you will pop up with a form that looks identical to a published document.
        | When filling out the form, you will want to make sure the information you are providing is meaningful and will make sense to another user that will be reading your document. In the document
        | you must give: a title that summarizes the issue you have run into, <i>a recommended max is 3-5 words</i>; the project you are working on (if the project is not listed, you can add it in); a description
        | describing the issue you ran into; a URL you found helpful (optional but recommended); some keywords that describe the issues, for example <code>NodeJS, Function, Async</code> this allows the reader
        | to search and understand what your solution is covering; lastly, a detailed solution that clearly describes how to solve the issue.
        br
        h2 Search The Docs!
        br
        p To search, use terms that apply to what you are looking for. This program uses a keyword system to easily find a solution to your issue, but this can only work if you
        | add keywords when producing a document.
        br
        br
        span() Copyright &copy; 2018 Dylan Bulmer
    content#c_doc
        h1(style="width: calc(100% - 20px);").field#d_title
        br
        span.desc(style="width: calc(100% - 20px)") By 
            span#d_name 
            | &nbsp;on 
            span#d_date
        br
        span.desc(style="width: calc(100% - 20px)") This issue was found in 
            span#d_project(style="font-weight: bold;")
        br
        span.desc Description:
        span.field#d_desc
        br
        span.desc Helpful URL:
        span.field#d_url
        br
        span.desc Keywords:
        span.field#d_keywords
        br
        span.desc Solution:
        span.field#d_solution
    content#c_new
        input(style="width: calc(100% - 20px); height: 2em; font-size: 2em; font-weight: bold;" placeholder="New Document" autofocus).field#n_title
        br
        span.desc(style="width: calc(100% - 20px)") By 
            span.fname
            | &nbsp;
            span.lname
            | &nbsp;on 
            span#n_date
        br
        span.desc(style="width: calc(100% - 20px)") This issue was found in 
            span.custom-dropdown
                select(onchange="updateChange()")#n_project
                    option( disabled selected value="-1") Select Project
                    optgroup(label="Projects:")#n_projects
                        option(value="-1" disabled) No Projects Yet
                    optgroup(label="Or:")
                        option(value="new") New Project
            span(style="display: none;")#pname named: 
                input(placeholder="Project Name").new#n_pname
        span.desc Description:
        textarea(rows="2" placeholder="Describe breifly the problem you encountered.").field#n_desc
        br
        span.desc Helpful URL:
        input(placeholder="https://example.com/forum/1234/artical-of-solution").field#n_url
        br
        span.desc Keywords:
        input(placeholder="Please seperate with commas ','").field#n_keywords
        br
        span.desc Solution:
        textarea(rows="15" placeholder="Detailed description of how you solved the problem you encountered. If you supplied a URL, explain how it helped you.").field#n_solution
        span(style="vertical-align: sub;") Use markdown to style your documentation!
        a(onclick="viewPage('c_pre')").p_btn Preview
    content#c_pre
        h1(style="width: calc(100% - 20px);").field#p_title
        br
        span.desc(style="width: calc(100% - 20px)") By 
            span.fname
            | &nbsp;
            span.lname
            | &nbsp;on 
            span#p_date
        br
        span.desc(style="width: calc(100% - 20px)") This issue was found in 
            span#p_project(style="font-weight: bold;")
        br
        span.desc Description:
        span.field#p_desc
        br
        span.desc Helpful URL:
        span.field#p_url
        br
        span.desc Keywords:
        span.field#p_keywords
        br
        span.desc Solution:
        span.field#p_solution
        a(onclick="submitDoc()").p_btn Submit
        a(onclick="viewPage('c_new')").p_btn Back
    script(src="../js/app-functions.js")
    script(src="../js/liveSearch.js")
    script(src="../js/pageViewer.js")
    script(src="../js/submit.js")
    script(src='../js/user-preferences.js')