<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>The Docs</title>
    <link rel="stylesheet" href="../css/font-awesome.min.css" />
    <link rel="stylesheet" href="../css/app.css" />
</head>
<body>
    <topbar>
        <img src="../image/TheDocsLogoSmall_White.svg" style="height: calc(3em - 10px); position: absolute; top: 5px; left: 46px;" />
        <span>
            <span style="vertical-align: middle;">Welcome Person!</span>
            <a>Logout</a>
        </span>
    </topbar>
    <aside>
        <input type="text" class="search" placeholder="Search..."/>
        <tabs>
            <tab class="wrapper"></tab>
            <tab>
                <h3>No problems yet!</h3>
                <p>Create a new one!</p>
            </tab>
        </tabs>
        <a class="add-button">
            Create new problem
        </a>
    </aside>
    <content>
        <h1>Welcome to The Docs!</h1><br>
        <p>This application allows you to document any problem for any project you may be a part of!</p>
        <p>To start using the application, please create your first problem with the button in the bottom, left-hand side!</p>
    </content>
</body>
</html>