<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>The Docs</title>
    <link rel="stylesheet" href="../css/font-awesome.min.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/app.css" />
    <link rel="stylesheet" href="../css/markdown.css" />
    <link rel="stylesheet" href="../css/hljs.css" />
</head>
<body>
    <topbar>
        <img src="../image/TheDocsLogoSmall_White.svg" style="height: calc(3em - 10px); position: absolute; top: 5px; left: 46px; cursor: pointer;"  onclick="viewPage('c_main')" />
        <span>
            <span style="vertical-align: middle;">Welcome <span class="fname"></span>!</span>
            <a onclick="logout()">Logout</a>
        </span>
    </topbar>
    <aside>
        <input type="text" class="search" id="liveSearch" placeholder="Search The Docs!"/>
        <!-- Add in an <ol> of suggestions positioned right below the input box -->
        <tabs id="dump"></tabs>
        <a class="add-button" onclick="viewPage('c_new')">
            Document a problem!
        </a>
    </aside>
    <content id="c_main"> <!-- Landing page for app -->
        <h1>Welcome to The Docs!</h1>
        <br>
        <p>This application allows you to document any problem for any project you may be a part of!</p>
        <p>To start using the application, please create your first document with the button in the bottom, left-hand corner!</p><br>
        <h1>Search The Docs!</h1>
        <br>
        <p>
            To search, use terms that apply to what you are looking for. This program uses a keyword system to easily find a solution to your issue, but this can only work if you
            add keywords when producing a document.
        </p>
    </content>
    <content id="c_doc"> <!-- Document page -->
        <h1 style="width: calc(100% - 20px);" class="field" id="d_title"></h1><br />
        <span class="desc" style="width: calc(100% - 20px)">By <span id="d_name"></span> on [date] at [time]</span><br />
        <span class="desc" style="width: calc(100% - 20px)">This issue was found in <span id="d_project" style="font-weight: bold;"></span></span><br />
        <span class="desc">Description:</span><span class="field" id="d_desc"></span><br />
        <span class="desc">Helpful URL:</span><span class="field" id="d_url"></span><br />
        <span class="desc">Keywords:</span><span class="field" id="d_keywords"></span><br />
        <span class="desc">Solution:</span><span class="field" id="d_solution"></span><br />
    </content>
    <content id="c_new"> <!-- New document page -->
        <input style="width: calc(100% - 20px); height: 2em; font-size: 2em; font-weight: bold;" class="field" placeholder="New Document" id="n_title" autofocus/><br />
        <span class="desc" style="width: calc(100% - 20px)">By <span class="fname"></span> <span class="lname"></span> on [date] at [time]</span><br />
        <span class="desc" style="width: calc(100% - 20px)">
            This issue was found in 
            <span class="custom-dropdown">
                <select id="n_project" onchange="updateChange()">
                    <option disabled selected value="-1">Select Project</option>
                    <optgroup id="n_projects" label="Projects:">
                        <option value="-1" disabled>No Projects Yet</option>
                    </optgroup>
                    <optgroup label="Or:">
                        <option value="new">New Project</option>
                    </optgroup>
                </select>
            </span>
            <span id="pname" style="display: none;">named: <input class="new" id="n_pname" placeholder="Project Name" /></span>
        </span><br />
        <span class="desc">Description:</span>
        <textarea rows="2" class="field" placeholder="Short description of the problem you encountered." id="n_desc"></textarea><br />
        <span class="desc">Helpful URL:</span>
        <input class="field" placeholder="https://example.com/forum/1234/artical-of-solution" id="n_url"/><br />
        <span class="desc">Keywords:</span>
        <input class="field" placeholder="Please seperate with commas ','" id="n_keywords" /><br />
        <span class="desc">Solution:</span>
        <textarea rows="15" class="field" placeholder="Detailed description of how you solved the problem you encountered. If you supplied a URL, explain how it helped you." id="n_solution"></textarea><br />
        <span sstyle="vertical-align: sub;">Use markdown to style your documentation!</span>
        <a onclick="viewPage('c_pre')" class="p_btn">Preview</a>
    </content>
    <content id="c_pre"> <!-- New document preview page -->
        <h1 style="width: calc(100% - 20px);" class="field" id="p_title"></h1><br />
        <span class="desc" style="width: calc(100% - 20px)">By <span class="fname"></span> <span class="lname"></span> on [date] at [time]</span><br />
        <span class="desc" style="width: calc(100% - 20px)">This issue was found in <span id="p_project" style="font-weight: bold;"></span></span><br />
        <span class="desc">Description:</span>
        <span class="field" id="p_desc"></span><br />
        <span class="desc">Helpful URL:</span>
        <span class="field" id="p_url"></span><br />
        <span class="desc">Keywords:</span>
        <span class="field" id="p_keywords"></span><br />
        <span class="desc">Solution:</span>
        <span class="field" id="p_solution"></span><br />
        <a onclick="submitDoc()" class="p_btn">Submit</a>
        <a onclick="viewPage('c_new')" class="p_btn">Back</a>
    </content>
    <script>// Store Script
        var Store = require('../modules/store');
        var store = new Store({ configName: 'user-preferences' });

        var user = store.get("user");

        let fnames = document.getElementsByClassName('fname');
        for (i = 0; i < fnames.length; i++) {
            fnames[i].innerText = user.name.first
        }

        let lnames = document.getElementsByClassName('lname');
        for (i = 0; i < lnames.length; i++) {
            lnames[i].innerText = user.name.last
        }

        // Logout handler
        var logout = function logout() {
            store.removeUser();
            window.location.href = "login.html";
        }
    </script>
    <script src="../js/liveSearch.js"></script>
    <script src="../js/pageViewer.js"></script>
    <script src="../js/submit.js"></script>
</body>
</html>