extends layout.pug

block links
    link(rel="stylesheet" href="../css/home.css")
    link(rel="stylesheet" href="../css/markdown.css")

block content
    include modules/topbar.pug
    include modules/nav.pug

    content.full
        div.row
            div.column
                infobox(style="opacity: 1;")
                    infoblock
                    span Don't forget to write your journal!
                //-infobox
                    warnblock
                    span You haven't written a journal entry in 2 days!
                subtitle Start a new...
                projects
                    span(style="display: block; width: 100%; border-radius: 5px; overflow: hidden;")
                        a(onclick="create.journal()") Journal
                        a(onclick="create.doc()") Issue
                        a(onclick="create.project()") Project
                subtitle Current projects
                projects
                    span(style="display: block; width: 100%; border-radius: 5px; overflow: hidden;")#projects
            div.column#column2
                subtitle Todo list
                todo
            div.column
                subtitle Recent activity
                div#eventlog

        span Copyright &copy; 2018 Dylan Bulmer
        
    script(src='../js/user-preferences.js')
    script(src='../js/pageViewer.js')
    script(src='../js/home.js')
    script(src='../js/todoList.js')