extends layout.pug

block links
    link(rel="stylesheet" href="../css/home.css")
    link(rel="stylesheet" href="../css/markdown.css")

block content
    include modules/topbar.pug
    include modules/nav.pug

    content.full
        h1 Welcome to The Docs!

        div.row
            div.column
                infobox(style="opacity: 1;")
                    infoblock
                    span Don't forget to write your journal!
                //infobox
                    warnblock
                    span You haven't written a journal entry in 2 days!
                subtitle Start a new...
                projects
                    span(style="display: block; width: 100%; border-radius: 5px; overflow: hidden;")
                        a(onclick="") Journal
                        a(onclick="create.doc()") Issue
                        a(onclick="create.project()") Project
                subtitle Current projects
                projects
                    span(style="display: block; width: 100%; border-radius: 5px; overflow: hidden;")#projects
                        a The Docs
                        a Elder Scrolls Mod (Minecraft)
            div.column#column2
                subtitle Todo list
                todo
                    item
                        input(type="checkbox")
                        | &nbsp;Make this page fill from database.
                    item
                        input(type="checkbox")
                        | &nbsp;Talk to Spencer about the mod.
                    item
                        input(type="checkbox")
                        | &nbsp;Add new texures into the mod.
            div.column
                subtitle Recent activity
                div#eventlog

        span Copyright &copy; 2018 Dylan Bulmer
        
    script(src='../js/user-preferences.js')
    script(src='../js/pageViewer.js')
    script(src='../js/home.js')
    script(src='../js/todoList.js')