extends layout.pug

block links
    style.
        * {
            text-align: center;
            color: #fff;
        }
        input[type=text] {
            width: 100%;
            height: 32px;
            border: 0;
            border-radius: 5px 0 0 5px;
            margin: 10px 0;
            color: #333;
            cursor: text;
            vertical-align: middle;
        }
        .go {
            width: 32px;
            height: 32px;
            border: 0;
            border-radius: 0 5px 5px 0;
            cursor: pointer;
            background-color: #333;
        }
        span {
            vertical-align: middle;
            height: 32px;
            display: inline-block;
        }

block content
    img(src="../image/TheDocsLogoWhite.svg" style="height: 3em; position: absolute; top: 42px; left: 10px;")
    form(id="form" style="display: inline-block; width: 300px;" onsubmit="event.preventDefault(); submition();")
        span Please enter the URL of your server!
        br
        input(id="url" type="text" placeholder="http://example.com" style="width: calc(100% - 20px); border-radius: 5px;")
        span(style="width: calc(100% - 52px);")
            input(id="port" type="text" placeholder="(optional)" value="1337" style="margin: 0;")
        span(style="width: 32px;")
            button.go(id="btn")
                i(class="fa fa-arrow-right" aria-hidden="true")
        br
        br
        span(style="width: calc(100% - 20px); text-align: right;") Would you like to auto login?
            input(type="checkbox" id="auto" style="cursor: pointer;")
        br
        br
        span(id="msg")
    span(style="position: absolute; text-align: right; bottom: 0; right: 10px;") Copyright &copy; 2018 Dylan Bulmer
    script(src="../js/index.js")