extends layout.pug

block links
    style.
        * {
            text-align: center;
        }
        input[type=text] {
            width: 100%;
            height: 32px;
            border: 0;
            border-radius: 5px 0 0 5px;
            margin: 10px 0;
            color: #333;
            cursor: text;
            vertical-align: middle;
        }
        .go {
            width: 32px;
            height: 32px;
            border: 0;
            border-radius: 0 5px 5px 0;
            cursor: pointer;
            background-color: #555;
            color: #fff;
        }
        span {
            vertical-align: middle;
            height: 32px;
            display: inline-block;
        }

block content
    aside.main
        span(style="height: auto; margin-top: 2em;")
            b(style="font-size: 18px;") The Docs
            br
            img(src="../image/TheDocsLogo2White.svg" style="height: 150px; position: relative; margin: 15px auto;")
            br
            i Create, Review
            br
            i Revise.
        span(style="position: absolute; text-align: center; bottom: 0; left: 0; width: 100%; font-size: 14px;") Copyright &copy; 2018 Dylan Bulmer
    form(id="form" style="display: inline-block; width: 300px;" onsubmit="event.preventDefault(); submition();")
        span Connect to your server!
        br
        input(id="url" type="text" placeholder="http://example.com" description="URL" style="width: calc(100% - 20px); border-radius: 5px;")
        span(style="width: calc(100% - 52px);")
            input(id="port" type="text" placeholder="(optional)" value="1337" style="margin: 0;")
        span(style="width: 32px;")
            button.go(id="btn")
                i(class="fa fa-arrow-right" aria-hidden="true")
        br
        br
        span(style="width: calc(100% - 20px); text-align: right;") Auto connect to this server &nbsp;
            input(type="checkbox" id="auto" style="cursor: pointer;")
        br
        br
        span(id="msg")
    script(src="../js/index.js")