extends layout.pug

block links
    link(rel="stylesheet" href="../css/app.css")
    link(rel="stylesheet" href="../css/journals.css")
    link(rel="stylesheet" href="../css/calendar.css")
    link(rel="stylesheet" href="../css/markdown.css")

block content
    include modules/topbar.pug
    include modules/nav.pug

    content#c_main.full
        span.col
            div#cal
            a(onclick="cal.getToday()")#today-btn Today
        span.col
            div()#date
            div(title="Finished Todo(s)")#todo
                null-item Please select a user's journal.
        span.col
            div(title="Modified Document(s)")#docs
                null-item Please select a user's journal.
            div(title="Explanation")#other
                null-item Please select a user's journal.
    
    script(src="../js/pageViewer.js")
    script(src="../js/calendar.js")
    script(src="../js/journals.js")
    script(src='../js/user-preferences.js')