html
    head
        title The Docs
        link(rel='stylesheet' href="../css/font-awesome.min.css")
        link(rel='stylesheet' href="../css/main.css")
        link(rel='stylesheet' href="../css/fonts.css")
        block links
    body
        div.titlebar
            span(style="text-align: left; float: left; -webkit-app-region: no-drag;")
                div.dropdown
                    button.dropbtn File
                    div.dropdown-content
                        span New Document
                        span New Project
                        hr
                        span(onclick="logout()") Logout
                div.dropdown
                    button.dropbtn Edit
                    div.dropdown-content
                        span Undo
                        span Redo
                        hr
                        span Cut
                        span Copy
                        span Paste
                        span Select All
                div.dropdown
                    button.dropbtn View
                    div.dropdown-content
                        span Reload
                        hr
                        span Zoom In
                        span Zoom Out
                        span Zoom Reset
                        hr
                        span Toggle Fullscreen
                div.dropdown
                    button.dropbtn Window
                    div.dropdown-content
                        span Minimize
                        span Close
                div.dropdown
                    button.dropbtn Help
                    div.dropdown-content
                        span Learn More
            span(style="text-align: right; float: right")
                span.sysButton#min() &ndash;
                span.sysButton#max(style="font-size: 18px;") &#9723;
                span.sysButton#close &times;
        block content
        script(src="../js/titlebar.js")