html
    head
        title The Docs
        link(rel='stylesheet' href="../css/font-awesome.min.css")
        link(rel='stylesheet' href="../css/main.css")
        link(rel='stylesheet' href="../css/fonts.css")
        link(rel='stylesheet' href="../css/slimscroll.css")
        script(src='../modules/slimscroll.js')
        script.
            var mac = new RegExp('(MacPPC|MacIntel|Mac_PowerPC|Machintosh|Mac OS X)').test(navigator.userAgent);
            var Scrolls = [];
            window.onload = function() {
                if (navigator.userAgent.match('Macintosh') === null) {
                    var element = document.getElementsByClassName('slimscroll');
                    // Apply slim scroll plugin
                    for (let i = 0; i < element.length; i++) {
                        if (!element[i].getAttribute("hasScroll")) {
                            Scrolls[i] = new slimScroll(element[i], {
                                'wrapperClass': 'scroll-wrapper unselectable mac',
                                'scrollBarContainerClass': 'scrollBarContainer',
                                'scrollBarContainerSpecialClass': 'animate',
                                'scrollBarClass': 'scroll',
                                'keepFocus': true
                            });
                            Scrolls[i].resetValues();
                        }
                    }
                    // resize
                    window.addEventListener('resize', () => {
                        for (i = 0; i < Scrolls.length; i ++) {
                            Scrolls[i].resetValues();
                        }
                    });
                }
            }
        block links
    body
        div.titlebar
            if !mac
                span(style="text-align: left; float: left; -webkit-app-region: no-drag;")
                    div.dropdown
                        button.dropbtn File
                        div.dropdown-content
                            span(onclick="viewPage('c_new')") New Document
                            span(onclick="viewPage('c_new')") New Project
                            hr
                            span(onclick="logout()") Logout
                    div.dropdown
                        button.dropbtn Edit
                        div.dropdown-content
                            span#undo Undo
                            span#redo Redo
                            hr
                            span#cut Cut
                            span#copy Copy
                            span#paste Paste
                            span#selectAll Select All
                    div.dropdown
                        button.dropbtn View
                        div.dropdown-content
                            span#reload Reload
                            hr
                            span#zoomIn Zoom In
                            span#zoomOut Zoom Out
                            span#zoomReset Zoom Reset
                            hr
                            span#toggleFullsceen Toggle Fullscreen
                    div.dropdown
                        button.dropbtn Window
                        div.dropdown-content
                            span Minimize
                            span Close
                    div.dropdown
                        button.dropbtn Help
                        div.dropdown-content
                            span Learn More
                span(style="text-align: right; float: right")
                    span.sysButton#min() &ndash;
                    span.sysButton#max(style="font-size: 18px;") &#9723;
                    span.sysButton#close &times;
        block content
        script(src="../js/titlebar.js")