html
    head
        title The Docs
        link(rel='stylesheet' href="../css/font-awesome.min.css")
        link(rel='stylesheet' href="../css/main.css")
        link(rel='stylesheet' href="../css/fonts.css")
        link(rel='stylesheet' href="../css/slimscroll.css")
        script(src='../modules/slimscroll.js')
        script.
            var Scrolls = [];
            window.onload = function() {
                if (navigator.userAgent.match('Macintosh') === null) {
                    var element = document.getElementsByClassName('slimscroll');
                    // Apply slim scroll plugin
                    var scrollTimer, lastScrollFireTime = 0;
                    for (let i = 0; i < element.length; i++) {
                        if (!element[i].getAttribute("hasScroll")) {
                            Scrolls[i] = new slimScroll(element[i], {
                                'wrapperClass': 'scroll-wrapper unselectable mac',
                                'scrollBarContainerClass': 'scrollBarContainer',
                                'scrollBarContainerSpecialClass': 'animate',
                                'scrollBarClass': 'scroll',
                                'keepFocus': true
                            });
                            element[i].addEventListener('wheel', () => {
                                var minScrollTime = 5000;
                                var now = new Date().getTime();

                                if (!scrollTimer) {
                                    if (now - lastScrollFireTime > (3 * minScrollTime)) {
                                        lastScrollFireTime = now;
                                    }
                                    scrollTimer = setTimeout(function() {
                                        scrollTimer = null;
                                        lastScrollFireTime = new Date().getTime();
                                    }, minScrollTime);
                                }
                                Scrolls[i].resetValues();
                            });
                        }
                    }
                    // resize
                    window.addEventListener('resize', () => {
                        for (i = 0; i < Scrolls.length; i ++) {
                            Scrolls[i].resetValues();
                        }
                    });
                } else {
                    let aside = document.getElementsByTagName('aside')[0];
                    aside.style.height = "calc(100vh - 3em - 22px);";
                    let titlebar = document.getElementsByClassName('titlebar')[0];
                    titlebar.style.height = "22px;";
                }
            }
        block links
    body
        div.titlebar
            if process.platform != 'darwin'
                span(style="text-align: left; float: left; -webkit-app-region: no-drag;")
                    div.dropdown
                        button.dropbtn File
                        div.dropdown-content
                            span(onclick="create.doc()") New Document
                            span(onclick="create.project()") New Project
                            hr
                            span(onclick="logout()") Logout
                    div.dropdown
                        button.dropbtn Edit
                        div.dropdown-content
                            span#undo Undo
                            span#redo Redo
                            hr
                            span#cut Cut
                            span#copy Copy
                            span#paste Paste
                            span#selectAll Select All
                    div.dropdown
                        button.dropbtn View
                        div.dropdown-content
                            span#reload Reload
                            hr
                            span#zoomIn Zoom In
                            span#zoomOut Zoom Out
                            span#zoomReset Zoom Reset
                            hr
                            span#toggleFullsceen Toggle Fullscreen
                    div.dropdown
                        button.dropbtn Window
                        div.dropdown-content
                            span Minimize
                            span Close
                    div.dropdown
                        button.dropbtn Help
                        div.dropdown-content
                            span Learn More
                span(style="text-align: right; float: right")
                    span.sysButton#min() &ndash;
                    span.sysButton#max(style="font-size: 18px;") &#9723;
                    span.sysButton#close &times;
        block content
        script(src="../js/app-functions.js")
