extends layout.pug

block links
    link(rel='stylesheet' href="../css/login.css")

block content
    aside.main
        span(style="height: auto; margin-top: 2em;")
            img(src="../image/TheDocsLogo4White.svg" style="height: 24px; position: relative; margin: auto;")
            br
            img(src="../image/TheDocsLogo2White.svg" style="height: 150px; position: relative; margin: 15px auto;")
            br
            i Create, Review
            br
            i Revise.
        span(style="position: absolute; text-align: center; bottom: 0; left: 0; width: 100%; font-size: 14px;") Copyright &copy; 2018 Dylan Bulmer
    form(id="form" style="display: inline-block; width: 300px;" onsubmit="event.preventDefault(); submition();")
        span Log into The Docs!
        br
        input(id="username" type="text" placeholder="Username")
        span(style="width: calc(100% - 32px);")
            input(id="password" type="password" placeholder="Password" style="margin: 0;")
        span(style="width: 32px")
            button(id="btn").go
                i(class="fa fa-arrow-right" aria-hidden="true")
        br
        span(id="msg")
        span(style="text-align: right; width: 100%; display: block;") Not a user? Register 
            a(href="register.pug") here
            | !
    span(style="position: absolute; bottom: 10px; right: 10px; height: auto;") Wrong server? Go  
        a(href="index.pug") back
        | !
    script(src="../js/login.js")