extends layout.pug

block links
    link(rel='stylesheet' href="../css/login.css")

block content
    a(href="./index.pug")
        img(src="../image/TheDocsLogoWhite.svg" style="height: 3em; position: absolute; top: 42px; left: 10px;")
    form(id="form" style="display: inline-block; width: 300px;" onsubmit="event.preventDefault(); submition();")
        span Log into The Docs!
        br
        input(id="username" type="text" placeholder="Username")
        input(id="password" type="password" placeholder="Password")
        span(style="text-align: right; display: block;")
            button(id="btn").go
                i(class="fa fa-arrow-right" aria-hidden="true")
        br
        span(id="msg")
        span(style="text-align: right; width: 100%; display: block;") Not a user? Register 
            a(href="register.pug") here
            | !
    span(style="position: absolute; text-align: right; bottom: 10px; right: 10px;") Copyright &copy; 2018 Dylan Bulmer
    script(src="../js/login.js")