extends layout.pug

block links
    link(rel="stylesheet" href="../css/app.css")
    link(rel="stylesheet" href="../css/hljs.css")
    link(rel="stylesheet" href="../css/markdown.css")

block content
    topbar
        img(src="../image/TheDocsLogoWhite.svg" style="height: calc(3em - 16px); position: absolute; top: 8px; left: 43px; cursor: pointer;" onclick="viewPage('c_main')")
        span
            span(style="vertical-align: middle;") Welcome&nbsp;
                span.fname
                | !
            span(onclick="openNav()")#nav-btn
                i.fa.fa-bars
    nav
        span(onclick="closeNav()")#nav-cls Close
            span(style="font-size: 1.3em") &times;
        a() Home
        a(onclick="") Profile
        a(href="projects.pug") Projects
        a(href="app.pug") Issues
        a(onclick="logout()" style="position: static; bottom: 0; left: 0;") Logout
    aside
        tabs#dump
        a(class="add-button" onclick="viewPage('c_newProject')") Start a Project!
    content#c_main
        h1 View the status of your projects!
        br
        p Click the project you would like to view on the left!
        br
        p
            i Please note that this page is still being developed and not everything will work correctly.
    content#c_view
        h1(style="width: calc(100% - 20px);").field#p_title
        br
        span.collumn Started on
            span#p_date
            br
            span.desc Description:
            span.field#p_desc
            br
            span.desc Homepage:
            span.field#p_homepage
        span.collumn
            h3 Event Log
            div#eventlog.slimscroll
                div(style="height: 100vh; width: 100%;")
    content#c_newProject
        span.desc Name:
        input(placeholder="Project Name").field#n_name
        br
        span.desc Description:
        textarea(rows="4" placeholder="Describe the project. (optional, recommended)").field#n_desc
        br
        span.desc Homepage:
        input(placeholder="Domain name: (optional)").field#n_url
        br
    script(src="../js/pageViewer.js")
    script(src="../js/projects.js")
    script(src="../js/submit.js")
    script(src='../js/user-preferences.js')
