extends layout.pug

block links
    link(rel="stylesheet" href="../css/app.css")
    link(rel="stylesheet" href="../css/hljs.css")
    link(rel="stylesheet" href="../css/markdown.css")

block content
    topbar
        img(src="../image/TheDocsLogoWhite.svg" style="height: calc(3em - 16px); position: absolute; top: 8px; left: 43px; cursor: pointer;" onclick="viewPage('c_main')")
        span
            span(style="vertical-align: middle;") Welcome&nbsp;
                span.fname
                | !
            span(onclick="openNav()")#nav-btn
                i.fa.fa-bars
    include ../modules/nav.pug
    aside
        tabs#dump
        a(class="add-button" onclick="viewPage('c_newProject')") Start a Project!
    content#c_main
        h1 View the status of your projects!
        br
        p Click the project you would like to view on the left!
        br
        p
            i Please note that this page is still being developed and not everything will work correctly.
    content#c_view
        span.collumn
            h1(style="width: 100%; display: inline-block;")#p_title
            br
            span(style="width: 100%") Started on&nbsp;
                span#p_date
            br
            span.desc Definition:
            span.field#p_desc
            br
            span.desc Homepage:
            span.field
                a(target="_BLANK")#p_homepage
        span.collumn
            h3(style="width: calc(100% - 20px); display: inline-block; text-align: center;").field Event Log
            div#eventlog.slimscroll
    content#c_newProject
        span.desc Name:
        input(placeholder="Project Name").field#n_name
        br
        span.desc Homepage:
        input(placeholder="Domain name/URL: (optional)" onchange="testRegEx(this)" pattern="(http(s)?:\\/\\/.)?(www\\.)?[-a-zA-Z0-9@:%._\\+~#=]{2,256}\\.[a-z]{2,6}\\b([-a-zA-Z0-9@:%_\\+.~#?&//=]*)").field#n_url
        br
        span(style="padding: 0 130px; display: block; color: red;")#regExpError
        span.desc Definition:
        textarea(rows="4" placeholder="What is the definition or conception of this project? (optional, recommended)").field#n_desc
        br
        span(style="display: block; color: red; text-align: right; padding: 10px; transition: 100ms;")#submitErr
        a(onclick="submitProject()").p_btn Submit
    script(src="../js/pageViewer.js")
    script(src="../js/regexTester.js")
    script(src="../js/projects.js")
    script(src="../js/submit.js")
    script(src='../js/user-preferences.js')
