html
    head
        
    body(style="background-color: #1177ff; text-align: center; overflow: hidden;")
        img(src="../image/TheDocsLogoWhite.svg" style="height: 100px; margin: calc(50vh - 50px);")